attrs
black
click
colorama
docopt
flake8
iniconfig
mccabe
mypy-extensions
packaging
pathspec
platformdirs
pluggy
py
pycodestyle
pyflakes
pyparsing
pytest
pytest-watch
tomli
watchdog
